{
    "host":"127.0.0.1",   
    "port":3306,
    "user":"root",
    "password":"123456",
    "db":"taizishan",                           //数据库名
    "sql_file":"game_schema.sql",               //所有表创建语句
    "del_other_tables":true,                    //升级时是否删除多余表
    "del_other_fields":false                    //升级时是否删除多余字段
}